[submodule ".registry"]
	path = .registry
	url = https://github.com/statik/universe
	branch = HEAD
[submodule "dora"]
	path = dora
	url = https://github.com/statik/dora
[submodule "rmarkdown"]
	path = rmarkdown
	url = https://github.com/rstudio/rmarkdown
	registered = false
